@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282828;
  color: #f9f6ee;
  direction: rtl;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2e3033;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #f9f6ee;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.box-shadow-1 {
  box-shadow: -10px 10px 19px #141618, 10px -10px 19px #262a2e;
}

.box-shadow-2 {
  box-shadow: -10px 10px 19px #141618, 10px -10px 19px #181819d9;
}

